/* Side Bar */
.side_bar {
    width: 25%;
    height: 100vh;
    border-right: var(--border-default);
    padding: 20px;
}

.side_bar .area_top {
    margin-bottom: 40px;
}

.side_bar .area_top h3 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    color: #eee;
    font-size: 20px;
}

.side_bar .area_links nav ul {
    list-style: none;
}

.side_bar .area_links nav ul li a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
    font-size: 17px;
    transition: .3s;
}

.side_bar .area_links nav ul li a:hover {
    color: var(--color-primary);
}

.side_bar .area_links nav ul li a.active {
    color: var(--color-primary);
}

.side_bar .area_links nav ul li a svg {
    font-size: 22px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .content_left svg {
    font-size: 23px;
    cursor: pointer;
}

.header .content_right button {
    border: 0;
    box-shadow: var(--box-shadow-default);
    border-radius: 50px;
    padding: 10px 35px;
    font-size: 17px;
    color: #000;
    background-color: var(--color-primary);
    cursor: pointer;
}

/* Loader */
.area_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.area_loading .progress_bar_empty {
    width: 170px;
    height: 7px;
    border: 1px solid #333;
}

.area_loading .progress_bar_empty .progress_bar_fillable {
    height: 7px;
    background-color: var(--color-primary);
    transition: .3s;
}

/* Title Page */
.title_page {
    font-size: 30px;
    font-weight: 500;
}

/* Error Message */
.alert_danger {
    background-color: rgb(223, 78, 78);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}