.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.right_side {
    width: calc(100% - 225px);
    padding: 20px;
}

.right_side .area_static {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_side .area_static .content_left svg {
    font-size: 23px;
    cursor: pointer;
}

.right_side .area_static .content_right button {
    border: 0;
    box-shadow: var(--box-shadow-default);
    border-radius: 50px;
    padding: 10px 35px;
    font-size: 17px;
    color: #000;
    background-color: var(--color-primary);
    cursor: pointer;
}