* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color-default: #292929;
  --color-primary: #D2D63C;
  --border-default: 1px solid #444;
  --border-radius-default: 10px;
  --box-shadow-default: 0 4px 4px 0 rgba(0,0,0,0.25);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color-default);
  color: #fff;
}
